.banners {
  padding-bottom: 75px;
  
  &__list {
    display: grid;
    grid-template-columns: 630px 1fr 1fr;
    gap: 30px;
  }

  &__item {
    padding: 78px 32px 74px;
    color: $dark-500;
    letter-spacing: normal;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 4px;

    &--white {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

      .banners {
        &__link {
          color: $white;
          border-bottom: 2px solid $white;
        }
      }
    }
  }

  &__subtitle {
    padding-bottom: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    
  }

  &__title {
    max-width: 75%;
    margin-bottom: 5px;
    font-family: 'Ruda';
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    @include line-clamp(2);
  }

  &__link {
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: normal;
    border-bottom: 2px solid $dark-500;
    transition: border-color 0.3s;


    &:hover {
      border-color: transparent;
    }
  }
}