.banners {
  padding-bottom: 75px;

  @include media-2 {
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include media-2 {
      display: grid;
      gap: 20px;
      grid-template: 1fr 1fr/ 1fr 1fr;
    }

    @include media-4 {
      gap: 15px;
      grid-template: 1fr 1fr 1fr/ 1fr;
    }
  }

  &__item {
    padding: 78px 32px 74px;
    max-width: 300px;
    width: 100%;
    color: $dark-500;
    letter-spacing: normal;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;

    @include media-2 {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 15px;

      @include media-2 {
        margin-right: 0;
      }
    }

    &:first-child {
      max-width: 630px;
      width: 100%;

      @include media-2 {
        max-width: 100%;
      }
    }

    @include media-1 {
      padding: 78px 15px 74px;
    }

    @include media-2 {
      grid-template: 1fr 1fr/ 2fr 1fr;
    }

    @include media-3 {
      padding: 76px 18px 30px;
      background-position: 18% center;
    }

    &:nth-child(1) {
      .banners {
        &__title {
          @include media-4 { 
            max-width: 75%;
          }
        }
      }
      
      @include media-2 {
        grid-column: 1/3;
      }

      @include media-4 {
        grid-column: 1/2;
      }
    }

    &--white {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

      .banners {
        &__link {
          color: $white;
          border-bottom: 2px solid $white;
        }
      }
    }
  }

  &__subtitle {
    padding-bottom: 17px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;

  }

  &__title {
    max-width: 75%;
    margin-bottom: 5px;
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    @include line-clamp(2);

    @include media-1 {
      max-width: 65%;
      font-size: 26px;
    }

    @include media-3 {
      margin-bottom: 68px;
      font-size: 24px;
    }

    @include media-4 {
      max-width: 50%;
    }

  }

  &__link {
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: normal;
    border-bottom: 2px solid $dark-500;
    transition: border-color 0.3s;

    &:hover {
      border-color: transparent;
    }
  }
}