.banners {
  padding-bottom: 75px;
  

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    // display: flex;
    // justify-content: space-between;

  }

  &__item {
    padding: 78px 32px 74px;
    color: $dark-500;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: containe;
    background-position: center center;
    border-radius: 4px;

    &--white {
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__item-subtitle {
    padding-bottom: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    
  }

  &__item-title {
    max-width: 70%;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
  }

  &__link {
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: normal;
    border-bottom: 2px solid $dark-500;
    transition: border-color 0.3s;


    &:hover {
      border-color: transparent;
    }

    &--white {
      border-bottom: 2px solid $white;
    }
  }
}