.header-top {
  padding: 14px 0;
  font-size: 13px;
  text-transform: uppercase;
  color: $white;
  background-color: $dark-800;

  @include media-3 {
    padding: 5px 0;
    font-size: 0;
  }

  @include media-5 {
    padding: 0;
    font-size: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    outline: transparent;

    @include media-2 {
      display: flex;
    }

    &::before {
      content: "";
      width: 30px;
      height: 20px;
      background-image: url("../images/icons/icon-burger.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__list-left {
    align-items: center;

    @include media-3 {
      margin-bottom: 20px;
    }

    @include media-5 {
      margin-bottom: 20px;
    }
  }

  &__item-left,
  &__item {
    display: inline-block;
  }

  &__item-left {
    &:not(:last-child) {
      margin-right: 43px;

      @include media-3 {
        margin-right: 30px;
      }
    }
  }

  &__list {
    @include media-2 {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-right: 20px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 2px 0;
    transition: opacity 0.3s,
      color 0.3s;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 23px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--delivery {
      padding-left: 45px;

      @include media-3 {
        padding-left: 20px;
      }

      &::before {
        width: 32px;
        background-image: url("../images/sprite.svg#icon-del-address");
      }
    }

    &--phone {
      padding-left: 34px;

      @include media-3 {
        padding-left: 13px;
      }

      &::before {
        width: 23px;
        background-image: url("../images/sprite.svg#icon-tel");
      }
    }
  }
}

.header {
  &__overlay {
    &.overlay {
      @include media-3 {
        background-color: rgba($black, 0);
      }
    }
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    position: relative;
    padding: 25px 0;
    background-color: $green-900;

    @include media-2 {
      padding: 11px 0;
    }

    @include media-5 {
      padding: 5px 0;
    }
  }

  &__logo {
    @include media-3 {
      display: none;
    }

    @include media-5 {
      display: none;
    }
  }

  &__logo-short {
    display: none;

    @include media-3 {
      display: block;
    }

    @include media-5 {
      display: block;
    }
  }

  &__catalog-menu {
    margin-right: 10px;

    @include media-2 {
      display: none;
    }
  }
}

.catalog-menu {
  position: relative;

  &__btn {
    width: 240px;
    padding: 15px 38px 15px 57px;
    border-radius: 6px;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $green-900;
    background-color: $white;
    outline: transparent;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;

    &--active {
      border-radius: 6px 6px 0 0;
      background-color: $green-200;

      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: $green-200;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 18px;
      width: 25px;
      height: 17px;
      background-image: url("../images/sprite.svg#icon-nav");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 23px;
      right: 19px;
      width: 8px;
      height: 4px;
      background-image: url("../images/sprite.svg#icon-arrow-small");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__list {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    overflow-y: auto;
    background-color: $white;
    border: 1px solid rgba($silver-600, 0.3);
    border-radius: 0 0 6px 6px;
    z-index: 2;
  }

  &__item {
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__link {
    position: relative;
    display: block;
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 1.2;
    transition: box-shadow 0.3s, color 0.3s;

    &:hover {
      color: $green-900;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 100%;
        height: 100%;
        box-shadow: inset 3px 0 0 0 $green-900;
      }
    }
  }
}

.user-nav {
  display: flex;
  margin: 0 -15px 0 12px;

  @include media-2 {
    margin-right: -6px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 6px;
    outline: transparent;
    transition: box-shadow 0.3s, border-color 0.3s;

    @include media-2 {
      width: 30px;
      height: 30px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 4px;
      width: 36px;
      height: 32px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: $white;
      transition: background-color 0.3s;

      @include media-2 {
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
      }
    }

    &--search {
      display: none;

      @include media-2 {
        display: block;
      }

      &::before {
        mask-image: url('../images/sprite.svg#icon-search');
      }
    }

    &--user {
      &::before {
        mask-image: url('../images/sprite.svg#icon-user');
      }

      @include media-2 {
        display: none;
      }
    }

    &--heart {
      @include media-2 {
        margin-right: 8px;
      }
      &::before {
        mask-image: url('../images/sprite.svg#icon-heart');
      }
    }

    &--cart {
      &::before {
        mask-image: url('../images/sprite.svg#icon-cart');
      }
    }

    &:focus {
      border: 3px solid $white;
    }

    &:hover {
      box-shadow: inset 0 0 0 100vh rgba($white, 0.1);
      border: 3px solid rgba($white, 0.1);
    }

    &:active {
      border: 3px solid rgba($white, 0.1);

      &::before {
        background-color: rgba($white, 0.5);
      }
    }
  }

  &__number {
    position: absolute;
    padding: 2px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 18px;
    height: 18px;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
    color: #CF3E3B;
    background-color: $white;

    @include media-2 {
      top: -6px;
      left: -8px;
    }
  }
}