.product {
  padding: 48px 0 63px;
  border-bottom: 1px solid $silver-600;

  @include media-1 {
    padding: 30px 0 26px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @include media-1 {
      display: block;
    }
  }

  &__slider {
    align-self: center;
    position: relative;
    max-width: 630px;
    width: 100%;
    margin-right: 30px;
    border: 1px solid $silver-600;
    border-radius: 4px;
    padding: 69px 105px;
    min-width: 0;

    @include media-1 {
      margin-bottom: 30px;
      padding: 19px 75px;
      max-width: 100%;
    }

    @include media-3 {
      padding: 19px 37px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 100%;

    @include media-1 {
      padding-bottom: 50%;
    }

    @include media-4 {
      padding-bottom: 100%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__slider-btn {
    top: 48%;

    @include media-3 {
      display: none;
    }

    &--prev {
      left: 22px;
    }

    &--next {
      right: 22px;
    }
  }

  &__description {
    flex-grow: 1;

    @include media-1 {
      max-width: 695px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__name-title,
  &__name {
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-transform: none;

    @include media-3 {
      font-size: 26px;
    }
  }

  &__name-title {
    display: none;
    margin-bottom: 30px;
    text-align: left;

    @include media-1 {
      display: block;
    }
  }

  &__name {
    margin: 22px 0 18px;
    text-align: left;

    @include media-1 {
      display: none;
    }
  }

  &__badges {
    position: static;
    display: flex;
    margin-bottom: 18px;
    margin-left: 3px;

    .badges {
      &__item {
        padding: 6px 9px;
        margin-right: 10px;
        font-size: 16px;
      }

      &__item:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__extra-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include media-4 {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__info {
    display: flex;
    align-items: center;

    @include media-4 {
      margin-bottom: 18px;
    }
  }

  &__cod {
    display: block;
    padding: 4px 5px;
    margin-right: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $silver-600;
    background-color: $silver-100;
    border-radius: 3px;
  }

  &__stars {
    z-index: 1;
  }

  &__presence {
    align-self: end;


    .presence {
      margin-bottom: 0;

      &__item {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }


  .prices {
    margin-bottom: 58px;
    flex-direction: row;
    justify-content: start;
    align-items: end;

    @include media-4 {
      margin-bottom: 30px;
    }

    &__item {
      margin-right: 18px;
      font-size: 20px;

      &--new {
        order: 1;
        font-weight: 700;
        font-size: 30px;
        color: $green-800;
      }
    }
  }

  &__order {
    position: relative;
    display: flex;
    margin-bottom: 32px;
  }

  .calculator {
    margin-right: 18px;

    &__counter {
      margin: 0;
    }

    &__plus-btn,
    &__minus-btn {
      width: 44px;
      height: 44px;
    }

    &__minus-btn {
      border-radius: 3px 0 0 3px;
    }

    &__plus-btn {
      border-radius: 0 3px 3px 0;
    }

    &__quantity {
      width: 70px;
      height: 44px;
      font-size: 20px;
    }
  }

  &__add-btn {
    position: relative;
    padding: 13px 12px 13px 49px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 3px;

    @include media-4 {
      padding-left: 36px;
      font-size: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 10px;
      left: 12px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      mask-image: url('../images/sprite.svg#icon-cart');
      background-color: $white;
    }
  }

  .favorites {
    top: 0;
    right: 0;

    &::before {
      width: 44px;
      height: 44px;

      @include media-3 {
        min-width: 44px;
      }
    }
  }

  &__delivery-title {
    padding-bottom: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1.2;
    text-transform: none;
    text-align: left;
    border-bottom: 1px solid $silver-600;
  }

  &__delivery-conditions {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
  }

  &__delivery-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $green-800;
    outline: transparent;
    transition: color 0.3s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      border-radius: 3px;
    }

    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }

    &:active {
      color: $green-1000;
    }
  }
}

.tabs {
  padding-bottom: 72px;

  @include media-2 {
    padding-bottom: 36px;
  }

  &__container {
    max-width: 725px;
  }

  &__top {
    margin-bottom: 48px;

    @include media-2 {
      margin-bottom: 30px;
    }
  }

  &__top-list {
    display: flex;
    justify-content: space-between;
    margin: -1px 30px 0;
    font-family: "Ruda", sans-serif;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;

    @include media-4 {
      margin: -1px 0 0;
    }
  }

  &__top-link {
    display: inline-block;
    height: 100%;
    padding-top: 16px;
    border-top: 3px solid transparent;
    outline: transparent;
    transition: color 0.3s, border-color 0.3s;

    @include media-4 {
      font-size: 14px;
    }

    &--active {
      color: $green-800;
      border-top: 3px solid $green-800;
    }

    &:hover {
      color: $green-800;
    }
  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: normal;
  }

  &__content-item {
    display: none;

    &.tabs__content-item--active {
      display: block;
    }
  }

  &__content-text {
    &:not(:last-child) {
      margin-bottom: 27px;
    }

    &--category {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__content-span {
    font-weight: 700;
  }
}

.comments {
  &__list {
    padding-bottom: 72px;

    @include media-3 {
      padding-bottom: 30px;
    }
  }

  &__title,
  &__form-title {
    margin-bottom: 48px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;

    @include media-3 {
      margin-bottom: 30px;
    }
  }

  &__item {
    margin-bottom: 24px;

    &:not(:last-child) {
      padding-bottom: 24px;
      border-bottom: 1px solid $silver-600;
    }
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include media-3 {
      margin-bottom: 18px;
    }
  }

  &__owner {
    display: flex;
    align-items: center;
  }

  &__owner-img {
    margin-right: 24px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  &__owner-name {
    font-weight: 700;
    font-size: 14px;
  }

  &__data {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  &__form-raiting {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__form-span {
    display: block;
    line-height: 1.3;
    letter-spacing: normal;
  }

  &__stars {
    margin: 0 18px;

    @include media-3 {
      margin: 0 -5px 0 0;
    }
  }

  &__forms-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include media-4 {
      display: block;
    }
  }

  &__textarea-wrapper {
    margin-right: 30px;
    flex-grow: 1;

    @include media-4 {
      margin: 0 0 18px;
    }
  }

  &__textarea {
    display: block;
    padding: 18px;
    width: 100%;
    height: 165px;
    resize: none;
  }

  &__input-item {
    &:not(:last-child) {
      margin-bottom: 24px;

      @include media-4 {
        margin-bottom: 18px;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 12px;
    line-height: 1.3;
    letter-spacing: normal;
  }

  &__input,
  &__textarea {
    border: 1px solid $silver-600;
    border-radius: 3px;
    outline: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      color: $silver-600;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-color: $green-800;
    }
  }

  &__input {
    width: 260px;
    height: 54px;
    padding: 0 18px;

    @include media-4 {
      width: 100%;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+.comments {
      &__checkbox-label {
        display: flex;
        align-items: flex-start;
        margin-right: 12px;
        font-size: 14px;
        line-height: 1.3;
        user-select: none;

        &::before {
          content: "";
          margin-right: 12px;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          flex-grow: 0;
          background-color: $silver-100;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          border: 1px solid $silver-600;
          border-radius: 3px;
        }
      }
    }

    &:checked {
      &+.comments {
        &__checkbox-label {
          &::before {
            border-color: $dark-500;
            background-image: url("../images/sprite.svg#icon-checked");
          }
        }
      }
    }
  }

  &__checkbox-label {
    margin-bottom: 24px;
  }

  &__submit-btn {
    display: block;
  }
}

.similar-products {
  padding-bottom: 24px;

  &__slider {
    position: relative;

    @include media-4 {
      padding-bottom: 40px;
    }
  }

  &__title {
    margin: 12px 0 60px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    color: $black;

    @include media-2 {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__slider-btn {
    @include media-3 {
      display: none;
    }

    &:first-child {
      margin-right: 30px;
    }
  }

  &__pagination {
    display: none;

    @include media-4 {
      display: block;
    }
  }

  .arrow-btn {
    top: 25px;
    border: 1px solid $silver-600;
  }

  .swiper-button-prev {
    left: auto;
    right: 90px;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-pagination-bullets {
    bottom: 5px;
  }

  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border: 1px solid $silver-600;
  }

  .swiper-pagination-bullet-active {
    background-color: $green-800;
    border: 1px solid $green-800;
  }

  .product-card {
    &__name {
      height: 59px;

      @include media-4 {
        margin-bottom: 40px;
      }
    }

    &__info {
      padding-top: 0;

      @include media-4 {
        margin-top: -7px;
        padding: 0 11px 12px;
      }
    }
  }
}

.product-overlay {
  .overlay {
    transform: translateY(0);
  }

  &__inner {
    position: relative;
    margin: 54px 96px;
    height: calc(100% - 108px);
    border-radius: 15px;
    background-color: $white;

    @include media-1 {
      margin: 30px 40px;
      height: calc(100% - 60px);
    }

    @include media-4 {
      margin: 0;
      height: 100%;
      border-radius: 0;
    }
  }

  &__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;

    @include media-3 {
      top: 10px;
      right: 10px;
    }

    &.close-btn {
      &::before {
        width: 32px;
        height: 32px;
        background-color: rgba($black, 0.15);

        @include media-3 {
          width: 18px;
          height: 18px;
        }
      }

      &:hover {
        &::before {
          background-color: $dark-500;
        }
      }
    }
  }

  &__slider {
    padding: 60px 60px 160px;
    position: relative;
    height: 100%;

    @include media-3 {
      padding: 154px 8px;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: 100%;
    object-fit: contain;
  }

  &__slider-btn {
    // top: 50%;
    top: calc(50% - 9px);

    &--prev {
      left: 60px;

      @include media-3 {
        left: 0px;
      }
    }

    &--next {
      right: 60px;

      @include media-3 {
        right: 0px;
      }
    }
  }


  .swiper-pagination-bullets {
    &.swiper-pagination-horizontal {
      bottom: 90px;

      @include media-4 {
        bottom: 107px;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $silver-600;

    @include media-4 {
      width: 12px;
      height: 12px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $green-800;
    border: 1px solid $green-800;
  }
}

.swiper-button-prev,
.swiper-button-next {
  &:after {
    font-size: 0;
  }
}