.promotions {
  padding: 70px 0;
  background-color: $silver-50;

  &__title {
    margin-bottom: 30px;
  }

  &__filter {
    margin-bottom: 25px;

    &.cards-filter__item {
      
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
   
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 43px;
  }

  &__card {

    &.product-card {
      flex-direction: row;
      padding: 12px;
      background-color: $white;
      
      &__img {
        margin-right: 10px;
      }

      &__info {
        padding: 0;
        width: 164px;
      }

      &__name {
        padding-bottom: 7px;
      }

      &__availability-item {
        margin-bottom: 2px;
      }

      &__footer {
        justify-content: space-between;
      }
    }

    &.prices {
      flex-direction: row;
      align-items: flex-end;

      &__item {
        &--new {
          margin-right: 12px;
          font-size: 20px;
          font-weight: 600;
        }

        &--old {
          font-size: 12px;
        }
      }

      &__currency {
        
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}