.services {
  padding: 48px 0 29px;
  background-color: $silver-100;

  @include media-2 {
    padding: 50px 0 50px;
  }

  @include media-3 {
    padding: 30px 0 30px;
  }


  &__items {
    display: flex;
    justify-content: center;

    @include media-2 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    max-width: 264px;
    width: 100%;
    padding: 0 15px 0 75px;

    @include media-2 {
      max-width: 340px;
    }

    &:not(:last-child) {
      margin-right: 65px;

      @include media-2 {
        margin: 0 0 50px;
      }

      @include media-3 {
        margin: 0 0 30px;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--scooter {
      &::before {
        background-image: url("../images/sprite.svg#icon-scooter");
      }
    }

    &--return {
      &::before {
        background-image: url("../images/sprite.svg#icon-return");
      }
    }

    &--hours {
      &::before {
        background-image: url("../images/sprite.svg#icon-hours");
      }
    }
  }

  &__item-title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: normal;
  }

  &__item-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: normal;
    color: $dark-500;
  }
}