@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header {
  &__top {
    padding: 14px 0;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    background-color: $dark-900;
  }

  &__top-inner,
  &__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__connection-item,
  &__information-item {
    display: inline-block;
  }

  &__connection-item {

    &:not(:last-child) {
      padding-right: 45px;
    }
  }

  &__information-item {

    &:not(:last-child) {
      padding-right: 20px;
    }
  }

  &__connection-link,
  &__information-link {
    display: block;
    padding: 2px 0;
    transition: opacity 0.3s, color 0.3s;
    outline: transparent;

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }

  &__connection-link {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 23px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--delivery {
      padding-left: 44px;

      &::before {
        width: 32px;
        background-image: url("../images/sprite.svg#icon-del-address");
      }
    }

    &--phone {
      padding-left: 34px;

      &::before {
        width: 23px;
        background-image: url("../images/sprite.svg#icon-tel");
      }
    }
  }

  &__content {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__content-catalog {
    position: relative;
    display: flex;
    padding: 10px 10px 10px 57px;
    border-radius: 6px;
    font-family: "OpenSans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $green-900;
    background-color: $white;

    &::before {
      content: "";
      top: 16px;
      left: 18px;
      width: 25px;
      height: 17px;
      position: absolute;
      background-image: url("../images/sprite.svg#icon-nav");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__content-catalog:hover {
    background-color: $green-200;
  }

  &__select {}

  &__select-menu {}

  &__select-button {
    width: 30px;
    height: 30px;
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    outline: transparent;
  }

  .form {
    position: relative;
    display: flex;
    max-width: 576px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 13px;
      width: 21px;
      height: 20px;
      background-image: url("../images/sprite.svg#icon-search");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__label {
      display: none;
    }

    &__input {
      display: block;
      padding: 15px 15px 15px 51px;
      width: 100%;
      font-family: "OpenSans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: $dark-800;
      background-color: $white;
      border-radius: 6px 0 0 6px;
      outline: transparent;
    }

    &__submit-btn {
      padding: 15px 52px;
      font-family: "OpenSans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $white;
      background-color: $dark-900;
      border-radius: 0 6px 6px 0;
      transition: box-shedow 0.3s, background-color 0.3s, color 0.3s;
      outline: transparent;

      &:focus {
        box-shadow: 0 0 0 4px rgba($white, 0.5);
      }

      &:hover {
        background-color: rgba($dark-800, 0.85);
      }

      &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $dark-900;
        color: rgba($white, 0.5);
      }
    }
  }

  &__usernav {
    display: flex;
    margin-left: 15px;

    &-item {

      &:not(:last-child) {
        padding-right: 12px;
      }
    }
  }

  &__usernav-link {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 6px;
    outline: transparent;
    transition: box-shadow 0.3s, border-color 0.3s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 4px;
      width: 36px;
      height: 32px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      background-color: $white;
      transition: background-color 0.3s
    }

    &--user {
      &::before {
        mask-image: url('../images/sprite.svg#icon-user');
      }
    }

    &--heart {
      &::before {
        mask-image: url('../images/sprite.svg#icon-heart');
      }
    }

    &--cart {
      &::before {
        mask-image: url('../images/sprite.svg#icon-cart');
      }
    }

    &:focus {
      border: 3px solid $white;
    }

    &:hover {
      box-shadow: inset 0 0 0 100vh rgba($white, 0.1);
      border: 3px solid rgba($white, 0.1);
    }

    &:active {
      border: 3px solid rgba($white, 0.1);

      &::before {
        background-color: rgba($white, 0.5);
      }
    }
  }

  &__usernav-number {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #CF3E3B;
    background-color: $white;
  }
}

.offers {
  position: relative;

  &__btn {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: box-shadow 0.3s, background-color 0.3s;
    outline: transparent;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 14px;
      left: 20px;
      width: 20px;
      height: 32px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      background-color: $dark-500;
      transition: background-color 0.3s
    }

    &--prev {
      right: 60px;
      z-index: 1;

      &::before {
        mask-image: url('../images/sprite.svg#icon-arrow-right');
      }
    }

    &--next {
      left: 60px;

      &::before {
        mask-image: url('../images/sprite.svg#icon-arrow-left');
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba($green-900, 0.5);
      border-radius: 6px;
    }

    &:hover {
      box-shadow: none;
      background-color: $green-200;

      &::before {
        background-color: $green-900;
      }
    }

    &:active {
      box-shadow: none;

      &::before {
        background-color: $green-900;
      }
    }
  }

  &__slide {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  &__container {
    display: flex;
    align-items: center;
    height: 600px;
  }

  &__content {
    min-width: 100%;
    padding: 24px;
    color: $dark-500;
    background-color: rgba($white, 0.8);
    border-radius: 4px;
  }

  &__title {
    display: block;
    max-width: 70%;
    margin-bottom: 6px;
    font-family: "Ruda", sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;

    & span {
      display: block;
      color: $red-900;
    }
  }

  &__text {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;

  }

  &__link {
    @extend %btn
  }
}

.footer {
  font-size: 14px;
  font-weight: 300;
  color: $white;
  background-color: $dark-900;
}

.footer-top {
  padding: 30px 0;

  &__logo {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    display: flex;
  }

  &__label {
    display: none;
  }

  &__input {
    display: block;
    max-width: 180px;
    width: 100%;
    padding: 12px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    outline: transparent;

    &::placeholder {
      color: $dark-800;
    }
  }

  &__btn {
    @extend %btn;
    padding: 12px 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    border: none;
    border-radius: 0 6px 6px 0;
  }

  &__items {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 75px;
  }

  &__link,
  &__contact-link {
    display: block;
    margin-bottom: 18px;

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }


  &__social {
    display: flex;
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__social-link {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: transparent;
    transition: opacity 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      box-shadow: none;
      opacity: 1;
      filter: invert(5%) sepia(7%) saturate(587%) hue-rotate(39deg) brightness(99%) contrast(91%);
    }
  }
}

.footer-bottom {
  padding: 24px 0 29px;
  border-top: 1px solid $dark-500;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__copy {
    font-weight: 400;
    line-height: 2.4;
    text-transform: uppercase;
  }

  &__paycard:not(:last-child) {
    padding-right: 24px;
  }

  &__paycard {
    display: inline-block;
  }
}



@import 'media';