.top-products {
  padding: 72px 0;

  @include media-2 {
    padding: 48px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__filter {
    @include media-3 {
      margin-bottom: 7px;
    }
  }

  &__cards {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include media-1 {
      gap: 15px;
    }

    @include media-2 {
      margin-bottom: 24px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-3 {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include media-4 {
      gap: 5px;
    }
  }

  .product-card {
    &__info {
      padding: 13px 10px 12px;
    }

    &__name {
      @include media-4 {
        margin-bottom: 40px;
      }
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}



