.badges {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;

  &__item {
    display: none;
    width: fit-content;
    padding: 3px 6px;
    border-radius: 6px;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;

    &--on {
      display: block;
    }

    &--new {
      background-color: $green-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}