.cards-filter {
  display: flex;
  justify-content: center;

  &__item {
    
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    font-size: 15px;
    font-weight: 700;
    color: $dark-500;
    text-transform: uppercase;
    outline: transparent;
    transition: color 0.3s;
    letter-spacing: 0.03em;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      box-shadow: none;
      color: $green-900;
    }
  }
}

.mixitup-control-active {
  box-shadow: 0 3px 0 0 $green-200;
  border-radius: 0;
}