.product-filter {
  border: 1px solid $silver-600;
  border-radius: 6px;
  margin-bottom: 30px;

  &__title {
    position: relative;
    padding: 18px;
    font-family: "Ruda", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    border-bottom: 1px solid $silver-600;

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      top: 23px;
      right: 24px;
      mask-image: url('../images/sprite.svg#icon-arrow-right');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      background-color: $silver-600;
      transform: rotate(-90deg);
    }
  }

  &__list {
    padding: 18px;
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $silver-500;
      border-radius: 3px;
    }
  }

  &__item {
    font-weight: 400;
    line-height: 1.3;

    &:not(:last-child) {
      padding-bottom: 12px;
    }
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    position: absolute;
    margin-right: 12px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    
    &:checked + .product-filter__checkbox {
      border-color: $dark-500;
      background-image: url("../images/icons/icon-checked.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
  }

  &__text {
    display: block;
    margin-left: 36px;
  }

  &__price-interval {
    padding: 22px 18px 18px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    align-items: center;
    font-family: "Ruda", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $silver-600;
  }

  &__max-value,
  &__min-value {
    display: block;
    margin: 0 6px;
    padding-top: 10px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: $dark-500;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    outline: transparent;
  }
}

.irs--flat {
  height: 18px;
}

.irs--flat .irs-line {
  top: 8px;
  height: 2px;
  background-color: $silver-500;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 8px;
  height: 2px;
  background-color: $green-800;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 18px;
  height: 18px;
  background-color: $green-800;
  border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-min,
.irs-max {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}
