html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: $dark-900;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  background-color: $white;
  letter-spacing: 0.03em;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  flex: 0 0 200px;
  outline: transparent;

  // &__img {
  //   width: 100%;
  // }

  &:focus {
    box-shadow: 0 0 0 4px rgba($white, 0.5);
    border-radius: 6px;
  }
}

.title {
  font-family: "Ruda",sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: $white;
  background-color: $green-900;
  border: 1px solid $green-900;
  border-radius: 6px;
  transition: background-color 0.3s;
  outline: transparent;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: #4D810C;
  }

  &:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &--white {
    color: $green-900;
    background-color: $white;

    &:hover {
      box-shadow: none;
      background-color: $green-100;
    }

    &:active {
      color: rgba($green-900, 0.5);
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.3s;
    outline: transparent;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      mask-image: url('../images/sprite.svg#icon-close1');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      background-color: $black;
      transition: background-color 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      box-shadow: none;
      background-color: $green-100;

      &::before {
        background-color: $green-800;
      }
    }

    &:active {
      background-color: rgba($silver-600, 0.3);
      box-shadow: none;
    }
  }


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba($black, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
  transform: translateY(-100%);
}

.overlay {
 &.is-open {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
 }
}